doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			.container
				a.navbar-brand(href='/') Articles
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarNavAltMarkup.collapse.navbar-collapse
					.navbar-nav
						if user
							a.nav-item.nav-link.disabled(href='')= user.name
							a.nav-item.nav-link(href='/articles/add') Add
							a.nav-item.nav-link(href='/users/logout') Logout
						else
							a.nav-item.nav-link(href='/users/login') Login
							a.nav-item.nav-link(href='/users/register') Register
		.container
			block content
			br
			hr
			footer
				center
					p.text-muted copyright 2018
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="/js/main.js")
